@charset "UTF-8";

@mixin button ($w:100px, $bg:gray){
    display: block;
    width: $w;
    height: 34px;
    border-radius: 10px;
    background:$bg;
    font-size: 12px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}